#!/usr/bin/make -f

# use the default Debian build options; do not strip as dh_* scripts strip the binary
export NO_FLTO=1
export STRIP=/bin/true

%:
	dh $@

override_dh_install:
	dh_install
	mv debian/iotop-c/usr/sbin/iotop debian/iotop-c/usr/sbin/iotop-c
	mkdir -p debian/iotop-c/usr/share/man/man8
	cp debian/iotop.8 debian/iotop-c/usr/share/man/man8/iotop-c.8
